/* LINKS:top menu */

.tabmenu * {
	font-size:1em;
 	margin-bottom:1px; /* close gap at bottom of tabs */
}
.tabmenu a,
.tabmenu p,
.tabmenu a:link,
.tabmenu a:visited {
	background:#c6b7a3; /* was aaa then bba */
	padding:0.27em 1em;
	text-decoration:none;
	border-left:1px solid #fff;
}
.tabmenu a:hover {
	background:#907f6b; /* was 888 then 998 */
	text-decoration:none;
	color:#fff;
}

/* 'current page' tab... and right navigation current page menu */
.tabmenu a#here:link,
.tabmenu a#here:visited,
.tabmenu a#here:hover,
#navigation a#here:link,
#navigation a#here:visited,
#navigation a#here:hover {
	background:#e8e0d1;
	padding-bottom:0.3em; /* close gap at bottom of tabs */
	color:#003;
}

/* LINKS:right navigation */

#content #navigation p {
	padding:0;
	margin:0;
	background:transparent;
	width:100%;
}

#navigation a,
#navigation p,
#navigation a:link,
#navigation a:visited {
	margin:0;
	text-decoration:none;
	display:block;
	padding:0.25em;
	background:#c6b7a3;
	border-bottom:1px solid #fff;
}
#navigation a:hover {
	background:#907f6b;
	color:#fff;
}

/* LINKS:finds tabs */

#content .tabmenu a:link,
#content .tabmenu a:visited,
#content .tabmenu a#here:link,
#content .tabmenu a#here:visited {
	border-top:1px solid #fff;
	border-color:#fff;
}
#content .tabs a#here:link,
#content .tabs a#here:visited {
	background:#d7cbba;
}
#content .tabs {
	margin-bottom:-1px; /* close up 1px gap in IE, safety measure on other browsers */
}

/* CONTENT */

#content * {
	font-size:1em;
}
/* left margin on all content, avoids box model hacks for IE lte7 */
#content p,
#content ul,
#content dl,
#content h2,
#content h3,
#content table,
#content .pagination,
#content .finds,
#content .tabmenu,
#content .optionform,
#content .review {
	margin-left:20px;
	width:72%;
}
#content .review {
	border:1px #aa9 solid;
	background:#f7f3ea;
	min-height:300px;
}
#content .optionform input {padding:0.1em 0.25em;} /* only used on exhibition_details page so far */
#content .range a {margin-right:1em;}

/* clickable single thumbnails */
#content div.seepicture,
#content a.seepicture {
	float:right;
	width:80px;
	padding:4px;
	border:#aa9 solid 1px;
	background:#f7f3ea;
	text-align:center;
	margin:0 10% 0 20px;
	font-size:0.9em;
	text-decoration:none;
	margin-bottom:1em;
}
#content div.seepicture img,
#content div.seepicture p,
#content a.seepicture img   {margin-left:0;}
#content div.seepicture:hover,
#content a.seepicture:hover {background:#fff;border-color:#f7f3ea}
#content a.seepicture2 {margin-right:10px;} /* for exhibit_details.php */
/* clickable large single thumbnails with 'previous' and 'next' */
#content div.picture {width:200px;margin-top:0.25em;}
#content div.picture p {width:100%;padding-bottom:0;text-align:center;}
#content div.picture p span {padding:0 10px;}

/* remedy width on lists due to 20px left margin on all content */
#content ul,
#content dl {
	width:69%;
}
#content h2 {
	padding-top:0;
   font-size:1.6em;
}
#content h3 {
	padding-top:0.5em;
}
#content img { /* for images or logos on own line (currently just AHRC in 'credits') */
	margin-left:20px;
}

/* unordered and definition lists */

#content ul,
#content dl,
#content dl.definitioninline {
	padding-left:40px;
	padding-bottom:0.5em;
}
#content dl.definitioninline dt {
	float:left;
	padding-right:0.75em;
	padding-bottom:0.5em;
	font-weight:bold;
	clear:left;
}
#content dl.definitioninline dd { /* align dd with dt (e.g.) on judge_details */
	padding:0;
	margin-bottom:0.5em;
}
#content li,
#content dd {
	padding-bottom:0.5em;
}
#content dl.columns dt {width:6.5em;} /* used in: exhibit_details, judge_details, exhibitor_details */

#content dl.inlineterms {margin-left:-20px;overflow:hidden;}
#content dl.inlineterms dd {float:left;padding-right:1.25em;} /* for lists of names (exhibitor details) */

#content dl.boldsubheads dt {font-weight:bold;font-size:1.2em;margin-left:-20px;} /* used on exhibition_details.php */
#content dl dt.innerlist {float:none;}
#content p + ul  {margin-top:-0.5em;} /* NOTE!! fix for IE 5.5 & 6 as well!! */

#content .listing a {padding:0 0.05em;}
#content .listing a:link {text-decoration:underline;} /* used on exhibition_details.php */
#content .listing a:hover {text-decoration:none;background:#f7f3ea;}

/* search results and results tables */
#content .searchterm {font-style:normal} /* 'cite' tag for users' search terms, not italics */

/* 'what can I do with these results' options */
#content form.resultsoptions {padding:0;margin:0;}
#content form.resultsoptions p {
	padding:0.2em 0 0;
	margin:0;
	font-size:110%;
	width:100%;
}
#content form.resultsoptions select,
#content form.resultsoptions input {
	font-size:0.85em;
	margin-left:0.5em;
}
#content form.resultsoptions select,
#content form.findsoptions select { /* used in boolean search */
	padding:0 0 0 0.25em;
	width:13em; /* with no right padding, fixes Firefox2 drop-down arrow */
}
#content form.resultsoptions input {
	padding:0 0.25em 0; /* a 3px bottom margin aligns this in Opera but throws others off */
}

/* boolean search */
#content #booleansearch {
	padding:0.7em 2px 0.75em;
	margin-top:0.5em;
	background:#c6b7a3;
	border-top:1px solid #907f6b;
	border-bottom:1px solid #f7f3ea;
	border-left:1px solid #907f6b;
	border-right:1px solid #f7f3ea;
	
}
#content #booleansearch .booleanleft {
	width:58%;
	text-align:right;
	float:left;
}
#content #booleansearch .booleantop {
	margin-bottom:8px;
}

/* search results tables */
#content .finds {
	border:1px solid #f7f3ea;
	background:#fff;
	border-right:none;
	border-bottom:none;
	font-size:0.9em;
	clear:left;
}
#content .finds th {
	background:#d7cbba; /* was ccc */
	text-align:left;
	font-weight:normal;
}
#content .finds th,
#content .finds td {
	padding:4px;
	border-bottom:1px solid #c6b7a3;
	border-right: 1px solid #c6b7a3;
	border-collapse:collapse;
}
#content .searchword,
#content .finds td .searchword {background:#ff6;}
#content .finds small {
   font-size:0.875em;
}
.blankcell {background:#d7cbba;}

/* pagination nav below search results tables */
#content .pagination {
	margin:0.5em 0 1em 20px;
	text-align:center;
	position:relative;
}
#content .pagination .prev,
#content .pagination .next {
	position:absolute;
}
#content .pagination .prev {top:0; left:0;}
#content .pagination .next {top:0;right:0;}

/* pagination nav with thumbs */
#content #thumbs    {position:relative;overflow:visible;height:9.5em;list-style-type:none;width:62%;margin-left:40px}
#content #thumbs li {position:absolute;width:88px;padding:0;border:1px #aa9 solid;text-align:center;font-size:0.85em;background:#f7f3ea;}
#content #thumbs li img {margin:0;display:block;padding-bottom:4px;}
#content #thumbs .prev {top:0; left:0;  }
#content #thumbs .midl {top:0; left:44%;}
#content #thumbs .next {top:0;right:0;  }
#content #thumbs li a {text-decoration:none;display:block;padding:4px;line-height:1.35em;}
#content #thumbs li a:hover {background:#fff;}
#content #thumbs li:hover {border-color:#f7f3ea;}
#content #thumbs .nolink:hover {border-color:#aa9;} /* was 999 */

#content .thumbsinline {margin:0;padding:0;overflow:hidden;width:76%;clear:left;}
#content .thumbsinline li {list-style-type:none;margin:0;float:left;margin-right:10px;}
#content .thumbsinline li a img {border:1px #aa9 solid;}
#content .thumbsinline li a img:hover {border-color:#f7f3ea;}
#content .thumbsinline li a span {display:block;text-align:center;font-size:90%;text-decoration:none;margin-left:20px;}
#content .thumbsinline li a span:hover {text-decoration:underline;}
#content .pictures li a {text-decoration:none;}
#content .pictures li a span {display:block;width:150px;height:1.5em;overflow:hidden;}

#content .dataoptions {margin-top:1em;text-align:right;} /* print/export data: judge_details.php */
#content .detailoptions {clear:both;text-align:center;}

#content #thumbs.thumbs {margin-left:0;padding-left:0;width:auto;} /* thumbs below content: exhibition_details.php */
#content #thumbs.thumbs li {float:left;position:relative;margin-left:40px;}
#content #thumbs.preview li {width:151px;margin:0 6px 0.5em 0;padding:0;}
#content #thumbs.preview li img,
#content #thumbs.preview li a,
#content #thumbs.preview li span,
#content #thumbs.preview li a img {margin:0;padding:0;line-height:1.5em;}


/* Advanced search only */
#content form fieldset {
	width:93%;
	margin-bottom:2em;
	margin-left:20px;
	font-size:90%;
	border:none;
}
#content form fieldset * {
	padding:0;
	margin:0;
}
#content form fieldset select,
#content form fieldset input {
	margin-right:1em;
}
#content form fieldset .date {
	width:5em;
}
#content form fieldset p {
	width:100%;
}
#content form fieldset h2 {
	width:100%;
	margin:0 0 0.5em -20px;
	padding-left:20px;
	padding-right:10%;
	background:#c6b7a3; /* was aaa */
	border-top:#fff 2px solid;
}
#content form fieldset h2 a {
	text-decoration:none;
}

/* FOOTER */

#footer * {
	font-size:0.7em;
	padding-top:2px;
}
#footer p {
   text-align:center;
}
#footer p a {
   background:transparent;
   margin:0;
   padding:0;
   color:transparent;
   margin-right:34px;
}
#footer p a img {
}
