/* ========================================================================================
NMM - curved boxes 
Version:1.0
Author: L Kennedy-Murray
=========================================================================================== */

/* CURVED BOXES WITH SHADOWS
=========================================================================================== */

.shadow {
	float:left;
	/*display:inline;cc ie6*/
	margin-bottom:26px;
}
	
	.shadow.last{
		margin-right:0px !important; /*also added to cc ie*/
	}

.box {
	position:relative;
	display:block;
	background:#fff;
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/*all IE CC - some extra CC information exists within ie7.css + ie6.css, comments in ie.css
.shadow {
	background:#cccccc;
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3', MakeShadow='true', ShadowOpacity='0.25');
	padding:8px 3px;
	margin-left:-6px;
	margin-right:-6px;
}

div#container.homepage .shadow.carousel{
	padding:3px;
}

.box,
div#container.homepage ul#carousel{
	left:3px;
	top:3px;
}

*/

	/*alter widths of .box as required DO NOT FORGET PADDING ADDS ON TO WIDTH! */
	
	/*.BOX column widths with 10px padding*/
	
	/*2 cols = 140px*/
	.box.w140-10px{
		width:120px; /*10px * 2 padding adds on to width therefore equals 140px)*/
		padding:10px;
	}
	
		/*for promos on museum map page appearing in middle-column*/
		/*2.5cols = 170px*/
		.box.w170-10px{
			width:150px; /*10px * 2 padding adds on to width therefore equals 170px)*/
			padding:10px;
		}
	
	/*3 cols = 220px*/
	.box.w220-10px{
		width:200px; /*10px * 2 padding adds on to width therefore equals 220px)*/
		padding:10px;
	}
	
	/*4 cols = 300px*/
	.box.w300-10px{
		width:280px; /*10px * 2 padding adds on to width therefore equals 300px)*/
		padding:10px;
	}
	
	/*5 cols = 380px*/
	.box.w380-10px{
		width:360px; /*10px * 2 padding adds on to width therefore equals 380px)*/
		padding:10px;
	}
	
	/*6 cols = 460px*/
	.box.w460-10px{
		width:440px; /*10px * 2 padding adds on to width therefore equals 460px)*/
		padding:10px;
	}
	
	/*7 cols = 540px*/
	.box.w540-10px{
		width:520px; /*10px * 2 padding adds on to width therefore equals 540px)*/
		padding:10px;
	}
	
	/*8 cols = 620px*/
	.box.w620-10px{
		width:600px; /*10px * 2 padding adds on to width therefore equals 620px)*/
		padding:10px;
	}
	
	/*9 cols = 700px*/
	.box.w700-10px{
		width:680px; /*10px padding adds on to width therefore equals 700px)*/
		padding:10px;
	}
	
	/*10 cols = 780px*/
	.box.w780-10px{
		width:760px; /*10px padding adds on to width therefore equals 780px)*/
		padding:10px;
	}
	
	/*11 cols = 860px*/
	.box.w860-10px{
		width:840px; /*10px padding adds on to width therefore equals 860px)*/
		padding:10px;
	}
	
	/*12 cols = 940px*/
	.box.w940-10px{
		width:920px; /*10px padding adds on to width therefore equals 940px)*/
		padding:10px;
	}
	
/*.BOX column widths with 20px padding*/
	
	/*2 cols = 140px*/
	.box.w140-20px{
		width:100px; /*20px * 2 padding adds on to width therefore equals 140px)*/
		padding:20px;
	}
	
		/*for promos on museum map page appearing in middle-column*/
		/*2.5cols = 170px*/
		.box.w170-20px{
			width:130px; /*20px * 2 padding adds on to width therefore equals 170px)*/
			padding:20px;
		}
	
	/*3 cols = 220px*/
	.box.w220-20px{
		width:180px; /*20px * 2 padding adds on to width therefore equals 220px)*/
		padding:20px;
	}
	
	/*4 cols = 300px*/
	.box.w300-20px{
		width:260px; /*20px * 2 padding adds on to width therefore equals 300px)*/
		padding:20px;
	}
	
	/*5 cols = 380px*/
	.box.w380-20px{
		width:340px; /*20px * 2 padding adds on to width therefore equals 380px)*/
		padding:20px;
	}
	
	/*6 cols = 460px*/
	.box.w460-20px{
		width:420px; /*20px * 2 padding adds on to width therefore equals 460px)*/
		padding:20px;
	}
	
	/*7 cols = 540px*/
	.box.w540-20px{
		width:500px; /*20px * 2 padding adds on to width therefore equals 540px)*/
		padding:20px;
	}
	
	/*8 cols = 620px*/
	.box.w620-20px{
		width:580px; /*20px * 2 padding adds on to width therefore equals 620px)*/
		padding:20px;
	}
	
	/*9 cols = 700px*/
	.box.w700-20px{
		width:660px; /*20px padding adds on to width therefore equals 700px)*/
		padding:20px;
	}
	
	/*10 cols = 780px*/
	.box.w780-20px{
		width:740px; /*20px padding adds on to width therefore equals 780px)*/
		padding:20px;
	}
	
	/*11 cols = 860px*/
	.box.w860-20px{
		width:820px; /*20px padding adds on to width therefore equals 860px)*/
		padding:20px;
	}
	
	/*12 cols = 940px*/
	.box.w940-20px{
		width:900px; /*20px padding adds on to width therefore equals 940px)*/
		padding:20px;
	}
	
	/*main middle content image*/
	img.main-img{
		margin:0px -20px 10px;
		/*margin:0px -21px 10px;CC IE8*/
	}