/* ========================================================================================
NMM - GENERAL FORMATTING
Version:1.0
Author: L Kennedy-Murray
=========================================================================================== */

h1{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:290%;
	line-height:110%;
	font-weight:bold;
	color:#198ac5;
	margin:0 0 10px 0;
}
	h1 img{
		float:right;
		padding-left:20px;
	}
	
	/*for foreign titles*/
	h1 span.foreign{
		display:block;
		font-size:50% !important;
		line-height:normal;
		margin:0px;
		padding:0px;
	}
	
h2{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:160%;
	color:#198ac5;
	line-height:130%;
	margin:0px auto 5px;
	padding:0px;
}
	/*applied really just to page titles*/
	h2.border-bottom{
		border-bottom:1px solid #ccc;
		padding-bottom:5px;
	}

h3{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:110%;
	line-height:130%;
	color:#000;
	margin:0px;
}

hr{
	border:none;
	background:#CCC;
	height:1px;
	padding:0px;
	margin:10px 0px 15px;
}


/* GRADIENT - APPLY GRADIENT BACKGROUND IN RIGHT HAND COLUMN BOXES
*/
.gradient{
	position:relative;
	background:url(/img/NMeM/layout/bg_gradient.jpg) 0px 0px repeat-x;
	margin-left:-10px !important;
	margin-right:-10px !important;
	/*margin-left:-10px !important;CC IE8*/
	/*margin-right:-9px !important;CC IE8*/
	margin-top:10px !important;
	padding:20px 10px 0px;
}

/*middle column*/
div#middle-column p{
	line-height:150%;
	margin-top:3px;
}

/*Lk 18nov*/
div#middle-column blockquote{
	color:#198AC5;
	font-weight:bold;
	/*font-style:italic;*/
	line-height:150%;
	margin:10px;
	padding:10px;
}

div#middle-column address{
	line-height:150%;
	margin:5px auto;
	font-style:normal;
}

	div#middle-column ul li,
	div#middle-column ol li{
		line-height:150%;
		margin-bottom:10px;
	}

/*right column*/
div#right-column h2{
	font-size:120%;
	margin:2px 0 3px 0;	
}

div#right-column h3{
	margin:0px;
}

div#right-column p{
	line-height:150%;
	margin:0px 0px 10px;
}

div#right-column a{
	color:#666;
}

div#right-column a:visited{
	color:#000;
}

div#right-column a:hover{
	color:#000;
}

div#right-column address{
	line-height:150%;
	margin:10px auto;	
	font-style:normal;
}

	div#right-column ul li,
	div#right-column ol li{
		line-height:150%;
		margin-bottom:0px;
	}

/*venue hire page*/
.phone-num{
	font-size:160%;
	color:#198ac5;
	line-height:130%;
}

/*apply to top of page links*/
.to-top{
	text-align:right;
	margin:20px 0px;
	padding:5px 0px 10px;
	border-bottom:1px solid #CCC;
}

/* FORMS
=========================================================================================== */
	
	/*knock input below i.e. on newsletter signup form*/
	.generic ul{
		list-style:none;
		margin:auto 0px;
		padding:0px;
	}
	
	.generic ul li{
		float:left;
		display:block;
		width:230px;
		padding-right:15px;
	}
		/*used to clear an LI after a single select menu is used
		i.e. country in newsletter signup pg, applied to LI after
		*/
		.generic ul li.drop{
			clear:left;
		}
		.generic ul li.dropboth{
			clear:both;
		}
	
	.generic fieldset{
		margin-bottom:25px;
	}
	
		.generic  legend{
			font-family:Arial, Helvetica, sans-serif !important;
			font-size:140%;
			color:#198ac5;
			line-height:130%;
			font-weight:bold;
			margin:0px 0px 15px !important;
			padding:0px !important;
		}
		
	.generic label{
		display:block;
		color:#1986c1;
		font-weight:bold;
		padding:0px;
		margin:0px 5px 3px 0px;
		vertical-align:top;
	}
		
		/*remove colour and weight from label*/
		.generic label.drop-weight{
			color:#2f2f2e;
			font-weight:normal;
		}
	
	/*for checkbox and label float inline*/
	.generic li.inline label,
	.generic li.inline input,
	.generic .oneline{
		float:left;
		display:inline;
		margin-right:5px;
	}
		/*for checkbox and label*/
		.generic li.inline label{
			width:200px;/*req. for FF to display long words inline*/
			color:#2f2f2e;
			font-weight:normal;
		}
		/*add space between checkbox and label*/
		.generic .oneline{
			margin-right:5px;
		}
	
	
	
	/*remove float and place LI all one one line not two*/
	.generic ul li.block{
		float:none !important;
		clear:both !important;
		width:475px;
		padding-right:0px !important;
	}
		/*reset label width*/
		.generic ul li.block label{
			width:auto;
		}
	
	/*set width for input text fields*/
	.generic ul li input.text,
	.generic ul li textarea{
		width:228px;
		border:1px solid #999;
	}	
	/*set width for input text fields
	.generic ul li input.text-50pc{
		width:45%;
		border:1px solid #999;
	}*/
	
	
	/*submit button, on it's own*/
	.generic ul li.submission{
		float:none !important;
		clear:both !important;
		width:100%;
	}
		/*float submit right*/
		.generic ul li.submission input{
			float:right;
			/*display:inline;CC IE6*/
			margin-right:15px;
		}
	
	
	/*TV Heaven adjust form*/
		div.frm-tv-heaven ul{
			width:285px;
		}
			div.frm-tv-heaven ul li{
				width:285px;
				padding-right:0px;
			}
			
			div.frm-tv-heaven ul li label{
				width:80px;
			}
			
			/*float submit right*/
			div.frm-tv-heaven ul li.submission input{
				padding-right:0px;
			}
		
		div.frm-tv-heaven img.search-pic{
			float:right;
		}
	
	/*asterix required*/
	.required{
		font-size:130%;
		color:#FF0000;
		font-weight:bold;
	}
		.error{
			background:#9dd2ef !important;
		}
			p.error{
				font-weight:bold;
				padding:5px;
			}
	
	/*text field*/
	input.text,
	select,
	textarea{
		font-family:Arial, Helvetica, sans-serif, "Trebuchet MS";/*for FF*/
		font-size:100% !important;
		background:#fff;
		border:1px solid #ccc;
		padding:2px;
		vertical-align:top;
	}
	
	input.text:active,
	input.text:focus,
	textarea:active,
	textarea:focus{
		background:#fce8ac;
	}
	
	/*submit buttons on middle content forms*/
	input.submit-button{
		cursor:pointer;
		display:block;
		color:#000;
		text-align:center !important;
		font-weight:bold;
		text-transform:uppercase;
		background:#fab71e;
		border:0px;
		padding:3px 5px !important;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
		input.submit-button:hover,
		input.submit-button:active,
		input.submit-button:focus{
			background:#f16c99;
		}
	
	p.group-booking{
		color:#FFFFFF;
		background:#000000;
		padding:10px;
	}
	
/*dual shared styling for both columns*/

/* COLOURS FOR TEXT
=========================================================================================== */
.white{
	color:#FFF;
}

.yellow{
	color:#fdb924;
}

/* COLOURS FOR BOTTOM BORDERS FOR IMAGES and GOOGLE IFRAME
=========================================================================================== */

img.orange,
iframe.orange{
	border-bottom:8px solid #f47b20 !important;
}

img.yellow,
iframe.yellow{
	border-bottom:8px solid #fdb924 !important;
}

img.green,
iframe.green{
	border-bottom:8px solid #7ac143 !important;
}

img.pink,
iframe.pink{
	border-bottom:8px solid #f16d9a !important;
}

img.blue,
iframe.blue{
	border-bottom:8px solid #009ddc !important;
}

img.purple,
iframe.purple{
	border-bottom:8px solid #233e99 !important;
}

img.burgandy,
iframe.burgandy{
	border-bottom:8px solid #b1005d !important;
}