/* ========================================================================================
NMM - PAGE SPECIFIC STYLING
Version:1.0
Author: L Kennedy
=========================================================================================== */

/* HOMEPAGE
=========================================================================================== */

p.opening-hours{
	display:block;
	font-family:Arial, Helvetica, sans-serif !important;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	margin:0px 0px 10px;
	padding:20px;
}
	p.opening-hours a.yellow,
	p.opening-hours span.yellow a{
		color:#fdb924 !important;
	}
	
	p.opening-hours a.yellow:visited,
	p.opening-hours span.yellow a:visited{
		color:#f16d9a !important;
	}
	
	p.opening-hours a.yellow:hover,
	p.opening-hours span.yellow a:hover{
		color:#fff !important;
	}

div#container.homepage .shadow.carousel{
	margin-right:0px !important;
	margin-bottom:0px !important;
}

div#container.homepage .shadow {
	margin-right:20px;
}

div#container.homepage .box{
	/*height:260px;cc ie6
	min-height:260px; cc ie7*/
}

div#container.homepage .box h2{
	font-size:125%;
	color:#237698;
	font-weight:bold;
	margin-bottom:0.2em;
}

div#container.homepage .box h3{
	font-size:125%;
	color:#353535;
	font-weight:bold;
	margin-bottom:10px;
}

div#container.homepage .box p{
	margin-bottom:0px;
	line-height:150%;
}

div#container.homepage .box .promo-img{
	/*position:relative;CC ie6*/
	margin:-16px -10px 10px; /*suck up the .box padding, top needs more to get curve outside of .box so bgcolor cannot be 

seen*/
}

/*holds title and calendar*/
div.home-left-side{
	float:left;
	width:220px;
	padding-right:10px;
}
	div.home-left-side h2{
		/*position:relative;CC IE6*/
		width:230px;
		color:#fdb924 !important;
		border-bottom:5px solid #8a8d09;
		padding:0px 10px 10px 20px !important;
		margin:5px -10px 10px -20px !important;
	}

/*holds title and tabbed data*/
div.home-right-side{
	/*position:relative;CC IE6*/
	float:right;
	/*display:inline;CC IE6*/
	width:680px;
	margin:0px -20px 10px -10px;
}
	div.home-right-side ul.panes li h2{
		width:650px;
		margin:5px 0px 0px 0px !important;
	}
	
	div.home-right-side table.tab-data{
		width:680px;
		margin:0px;
	}
	
		div.home-right-side table.tab-data thead tr th{
			display:none;
		}
	
		div.home-right-side table.tab-data tbody tr th,
		div.home-right-side table.tab-data tbody tr td{
			text-align:left;
			font-weight:normal;
			padding:10px;
		}
		
		
		div.home-right-side table.tab-data tbody tr th,
		div.home-right-side table.tab-data tbody tr td{
			background:#fff;
			vertical-align:top;
		}
		
		div.home-right-side table.tab-data tbody tr td{
			vertical-align:middle;
		}
		
		div.home-right-side table.tab-data tbody tr.alt th,
		div.home-right-side table.tab-data tbody tr.alt td{
			background:#dbdbda;
		}
		
		div.home-right-side table.tab-data tbody tr td.img{
			padding:0px;
		}
		
		div.home-right-side table.tab-data tbody tr th h3,
		div.home-right-side table.tab-data tbody tr td h3{
			font-size:110% !important;
			font-weight:normal !important;
			margin-bottom:0px !important;
			line-height:normal !important;
		}
		
		div.home-right-side table.tab-data tbody tr th p,
		div.home-right-side table.tab-data tbody tr td p{
			margin:0px;
			line-height:normal;
		}

/* FILM - HOMEPAGE
=========================================================================================== */

/*suck in the jquery*/
div#container.film-homepage div#middle-column ul.film-carousel{
	margin-left:-20px;
	margin-right:-20px;
}

/*float coming soon to right*/
/*div#container.film-homepage div#middle-column .promo-keyline.right*/
div#container div#middle-column .promo-keyline.right{
	float:right;
	/*display:inline;CC IE6*/
	margin:0px 0px 10px 10px;
}
	
	/*div#container.film-homepage div#middle-column .promo-keyline.right ol.event-times*/
	div#container div#middle-column .promo-keyline.right ol.event-times{
		margin:10px -10px 0px;
	}
	
	/*div#container.film-homepage div#middle-column .promo-keyline.right ol.event-times li*/
	div#container div#middle-column .promo-keyline.right ol.event-times li{
		float:none;
		width:auto;
		background:#fff;
		margin-right:0px;
		padding:7px 10px;
		border:0px !important;	
		-moz-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
		border-radius: 0px !important;
	}
	
	div#container.film-homepage div#right-column table.film-times{
		width:220px;
		margin:0px -10px 10px;
	}
	
	div#container.film-homepage div#right-column table.film-times th,
	div#container.film-homepage div#right-column table.film-times td{
		vertical-align:top;
		padding:4px auto;
	}
	
	div#container.film-homepage div#right-column table.film-times th,
	div#container.film-homepage div#right-column table.film-times td{
		padding-left:10px;
		padding-right:5px;
	}
	
	div#container.film-homepage div#right-column table.film-times th.end,
	div#container.film-homepage div#right-column table.film-times td.end{
		padding-right:10px;
		padding-left:5px;
	
	}
	
	div#container.film-homepage div#right-column table.film-times th.w-screen{
		width:79px;
	}
	
	div#container.film-homepage div#right-column table.film-times td ul li{
		float:left;
		/*display:inline;CC IE6*/
		margin-right:5px;
	}
		div#container.film-homepage div#right-column table.film-times td ul li.break{
			float:none;
			clear:both;
		}
		

/* PLAN A VISIT - WHAT'S ON
=========================================================================================== */
/*google map - suck up left/right padding*/
div#container.planavisit-whatson div#middle-column{
	width:780px;
	padding-right:0px;
}

div#container.planavisit-whatson div#middle-column div#datepicker{
	float:right;
	/*display:inline;CC IE6*/
	width:220px;
	margin:0px 0px 10px 10px;
}

div#container.planavisit-whatson div#middle-column ul.button-list{
	float:left;
}

div#container.planavisit-whatson div#middle-column p.intro{
	float:none;
	clear:left;
}


/* PLAN A VISIT - FAMILIES
=========================================================================================== */

/*suck in the jquery*/
div#container.planavisit-families div#middle-column ul.film-carousel{
	margin-left:-20px;
	margin-right:-20px;
}

/* FILM - BOOK FILM / IMAX TICKETS INFORMATION PAGE + book tickets form pg
=========================================================================================== */

div#container.film-tickets div#middle-column div#datepicker{
	float:right;
	/*display:inline;CC IE6*/
	width:220px;
	margin:10px 0px 10px 10px;
}

div#container.film-tickets div#middle-column ul.button-list{
	float:left;
}

div#container.film-tickets div#middle-column p.intro{
	float:none;
	clear:left;
}
	
	/*specific for film ticket and imax ticket page*/
	div#container.film-tickets div#middle-column table.film-times{
		/*position:relative;CC IE6*/
		float:left;
		/*display:inline;CC IE6*/
		width:380px;
		margin-right:-20px;
	}
	
/* CHANGE SPECIFIC DETAILS FOR BOOK TICKETS FORM PAGE
=========================================================================================== */	
	
	/*book tickets form - amend table*/
	div#container.film-tickets-form div#middle-column table.film-times{
		width:540px;
		margin:auto -20px;
	}
	
	/*book tickets form - amend group booking txt*/
	div#container.film-tickets-form div#middle-column p.group-booking{
		margin:10px -20px;
		padding:10px 20px;
	}
	
	
	
	/*book tickets form - amend table*/
	div#container.film-tickets-form div#middle-column table.film-times th,
	div#container.film-tickets-form div#middle-column table.film-times td{
		padding-left:20px;
		padding-right:20px;
	}
	
	div#container.film-tickets-form div#middle-column ul.film-info{
		float:none;
		margin:20px 0px 0px;
	}
	
		div#container.film-tickets-form div#middle-column ul.film-info li{
			float:left;
			width:200px;
		}
		
		/*film image*/
		div#container.film-tickets-form div#middle-column ul.film-info li.image{
			float:left;
			clear:left;
			width:120px;
			margin:0px;
			padding:0px 15px 30px 0px;
		}
		
		/*change time/date button*/
		div#container.film-tickets-form div#middle-column ul.film-info li.change-date{
			float:right;
			width:160px;
			margin:0px;
			padding:0px;
		}
		
		div#container.film-tickets-form div#middle-column ul.film-info li h2{
			float:left;
			display:inline;
			font-family:Arial, Helvetica, sans-serif !important;
			font-size:110%;
			line-height:normal;
			color:#000;
			margin:0px 5px 0px 0px;
			padding:0px;
		}
		
		div#container.film-tickets-form div#middle-column ul.film-info li p{
			float:left;
			display:inline;
			width:140px;
			line-height:normal;
			margin:0px;
		}

/* PLAN A VISIT - HOMEPAGE
=========================================================================================== */
/*google map - suck up left/right padding*/
div#container.planavisit-homepage iframe{
	position:relative;
	margin:0px -20px;
}

div#container.planavisit-homepage p.small{
	font-size:90%;
	margin-top:3px;
	text-align:right;
}
	div#container.planavisit-homepage p.small a{
		font-weight:normal;
	}

div#container.planavisit-homepage ul.details{
	float:left;
	display:block;
	list-style:none;
	width:230px;
	margin:0px;
	padding:0px;
	margin-right:35px;
}
	div#container.planavisit-homepage ul.details.end{
		margin-right:0px;
	}

/* PLAN A VISIT - GETTING HERE
=========================================================================================== */
/*google map - suck up left/right padding*/
div#container.planavisit-getting-here iframe{
	position:relative;
	margin:10px -10px;
}

div#container.planavisit-getting-here p.small{
	font-size:90%;
	margin-top:3px;
	text-align:right;
}
	div#container.planavisit-getting-here p.small a{
		font-weight:normal;
	}

div#container.planavisit-getting-here div#middle-column,
div#container.planavisit-getting-here div#right-column{
	width:380px;
}


/* PLAN A VISIT - MUSEUM MAP
=========================================================================================== */
div#container.planavisit-museum-map div#middle-column{
	width:780px;
	padding-right:0px;
}

div#middle-column object#suckin,
div#middle-column embed#suckin{
	margin:20px -20px;
}
	

/* PLAN A VISIT - EXHIBITIONS + PAST EXHIBITIONS
=========================================================================================== */
div#container.planavisit-exhibitions div#middle-column{
	width:780px;
	padding-right:0px;
}

/*select a year label*/
div#container.planavisit-exhibitions div#middle-column .generic label{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:140%;
	color:#198ac5;
	font-weight:bold;
	line-height:130%;
}
	
	div#container.planavisit-exhibitions div#middle-column .generic fieldset{
		margin-bottom:0px;
	}
	
	div#container.planavisit-exhibitions div#middle-column .generic label,
	div#container.planavisit-exhibitions div#middle-column .generic select,
	div#container.planavisit-exhibitions div#middle-column .generic input.submit-button{	
		float:left;
		/*display:inline;CC IE6*/
		margin-right:5px;
	}
	
	div#container.planavisit-exhibitions div#middle-column h3{
		color:#198ac5;
	
	}
	
	div#container.planavisit-exhibitions div#middle-column h4{
		font-family:Arial, Helvetica, sans-serif !important;
		color:#198ac5;
		margin:5px auto;
	}

/* FILM - FILM DETAIL
=========================================================================================== */
div#container.film-detail div#middle-column h1{
	margin-bottom:0px;
}

div#container.film-detail div#middle-column object.suckin,
div#container.film-detail div#middle-column embed.suckin{
	margin:15px -20px 0px !important;
}

p.premiere { font-size: 1.1em; font-weight: bold; }
.screen-with {padding: 1.5em 0 0.5em 0; margin-bottom: 2.2em; border-bottom: 1px solid #ccc; }
.screen-with h2 { font-size: 1.3em; }


/* FILM - FESTIVALS HOMEPAGE
=========================================================================================== */
div#container.film-festivals-homepage div#middle-column ul.border-list li{
	padding-right:140px;
}
	div#container.film-festivals-homepage div#middle-column ul.border-list li img{
		margin-right:-140px;
		border-bottom: none !important;
	}

/* COLLECTIONS DETAIL + Further detail (image slide show)
=========================================================================================== */
div#container.collections-collection-detail div#middle-column,
div#container.collections-collection-further-detail div#middle-column{
	width:780px;
	padding-right:0px;
}
	div#container.collections-collection-detail div#middle-column div.search-collection,
	div#container.collections-collection-further-detail div#middle-column div.search-collection{
		/*position:relative;CC IE6*/
		float:right;
		clear:both;
		width:200px;
	}
	
	div#container.site-search div#middle-column .generic fieldset{
		margin-bottom:0px;
	}
	
	/*total amount of results per page*/
	div#container.collections-collection-detail div#middle-column .generic fieldset{
		margin-bottom:0px;
	}
	
	div#container.collections-collection-detail div#middle-column .generic label,
	div#container.collections-collection-detail div#middle-column .generic select,
	div#container.collections-collection-detail div#middle-column .generic input.submit-button{	
		float:left;
		/*display:inline;CC IE6*/
		margin-right:5px;
	}
	
	ul.collection-image-show{
		float:left;
		list-style:none;
		width:520px;
		margin:10px 20px 10px 0px;
		padding:0px;
	}
		ul.collection-image-show li.divider{
			border-top:1px solid #ccc;
			padding-top:10px;
		}
		
		ul.collection-image-show li.thumbnail{
			float:left;
			/*display:inline;CC IE6*/
			margin-right:6px;
			margin-bottom:7px !important;
		}
		
		ul.collection-image-show li.previous{
			float:left;
		}
		
		ul.collection-image-show li.next{
			float:right;
		}
	
	/*IMAGE DETAILED INFORMATION*/
	ul.collection-image-detail{
		float:left;
		width:180px;
		list-style:none;
		margin:0px;
		padding:0px;
	}
	
		ul.collection-image-detail li a.button{
			/*display:inline;CC IE6*/
			margin-bottom:10px;
		}

/* COLLECTIONS SEARCH
=========================================================================================== */
		
div.search-collection input.text{
	width:152px;
	height:17px;
	margin:0px;
	padding:4px 4px;
	vertical-align:middle;
	border:none;
	background:#FFF url(/img/nmem/layout/bg_input_search_collections.gif) no-repeat;
}

div.search-collection legend{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:120%;
	color:#198ac5;
	line-height:130%;
	font-weight:bold;
	margin:0px auto 5px;
}

	div.search-collection input.text:focus,
	div.search-collection input.text:active{
		background:#fce8ac url(/img/nmem/layout/bg_input_search_collections_focus.gif) no-repeat;
	}
	
	div.search-collection input.submit{
		margin:0px;
		padding:0px;
		border:none;
		vertical-align:middle;
	}
	
	
	
	/*total amount of results per page*/
	div#container.collections-collection-search div#middle-column .generic fieldset{
		margin-bottom:0px;
	}
	
	div#container.collections-collection-search div#middle-column .generic label,
	div#container.collections-collection-search div#middle-column .generic select,
	div#container.collections-collection-search div#middle-column .generic input.submit-button{	
		float:left;
		/*display:inline;CC IE6*/
		margin-right:5px;
	}
	
/* COLLECTIONS - PHOTOGRAPHY COLLECTION DETAIL
=========================================================================================== */

ul.collection-selection{
	float:none;
	clear:both;
	list-style:none;
	margin:20px 0px;
	padding:0px;
}
	ul.collection-selection li{
		float:left;
		display:inline;
		width:138px;
		min-height:220px;
		margin-right:12px;
		margin-bottom:10px;
	}
		ul.collection-selection li.last{
			margin-right:0px !important;
		}
		
		ul.collection-selection li img{
			display:block;
			margin-bottom:5px;
		}
		
		ul.collection-selection li cite{
			font-style:normal;
		}
		
/* COLLECTIONS - HOLDING LIST
=========================================================================================== */
div#container.collections-holding div#middle-column{
	width:780px;
	padding-right:0px;
}	

/* COLLECTIONS - VIMEO
=========================================================================================== */
div#container.collections-vimeo div#middle-column{
	width:780px;
	padding-right:0px;
}

/* COLLECTIONS - SEARCH RESULTS
=========================================================================================== */
div#container.collections-collection-search div#middle-column{
	width:780px;
	padding-right:0px;
}

div#container.collections-collection-search div#middle-column div.search-collection{
	/*position:relative;CC IE6*/
	float:right;
	width:200px;
}

/* EDUCATORS HOMEPAGE
=========================================================================================== */
div#container.educators-homepage div#middle-column{
	width:780px;
	padding-right:0px;
}

	/*adjust film carousels to fit side by side*/
	div#container.educators-homepage div#middle-column .film-carousel,
	div#container.educators-homepage div#middle-column .film-carousel li,
	div#container.educators-homepage div#middle-column .film-carousel .carousel-info {
		width:384px;
	}
	
	/*send 1 left*/
	div#container.educators-homepage div#middle-column .film-carousel{
		float:left;
		margin-left:-20px; 
	}
	/*send 1 right*/
	div#container.educators-homepage div#middle-column .film-carousel.flt-right{
		float:right;
		margin-right:-20px;
	}


/* EDUCATORS BOOKING
=========================================================================================== */
div#container.educators-booking div#middle-column{
	width:780px;
	padding-right:0px;
}

ul.booking-list{
	list-style:none;
	margin:0px auto;
	padding:0px;
}
	ul.booking-list li{
		float:left;
		display:block;
		width:220px;
		margin-right:40px;
	}
	
	ul.booking-list li.last{
		margin-right:0px !important;
	}
	
	ul.booking-list ul{
		margin:10px 0px;
	}
		ul.booking-list ul li{
			float:none;
			width:auto;
			list-style-type:circle;
			list-style-position:inside;
			margin-right:0px;
		}
		
		ul.booking-list ul.yellow-list li{
			float:none;
			width:auto;
			list-style:none;
			list-style-position:outside;
			margin-right:0px;
		}

div#container.educators-booking div#middle-column ol{
	margin:20px 0px 20px 20px;
	padding:0px;
}

/* EDUCATORS FAQ
=========================================================================================== */
/*div#container.educators-faq div#middle-column ul.faq li.q-top*/
div#container div#middle-column ul.faq li.q-top{
	text-align:right;
	margin:20px 0px;
	padding:5px 0px 10px;
	border-bottom:1px solid #CCC;
}

/* EDUCATORS KEYSTAGE 1/2
=========================================================================================== */

div#container.educators-keystage div#middle-column ul.whatson-info{
	width:auto;
}

div#container.educators-keystage div#middle-column ul.whatson-info li{
	float:none;
	clear:both;
	display:block;
	width:auto;
	padding:20px 0 5px;
}
	div#container.educators-keystage div#middle-column ul.whatson-info li.alt{
		background:#ccc;
		margin:0px -20px;
		padding:20px 20px 10px;
	}


/* EDUCATORS HIGHER EDUCATION
=========================================================================================== */

div#container.educators-highereducation div#middle-column ul.whatson-info{
	width:auto;
}

div#container.educators-highereducation div#middle-column ul.whatson-info li{
	float:none;
	clear:both;
	display:block;
	width:auto;
	padding:20px 0 5px;
}
	div#container.educators-highereducation div#middle-column ul.whatson-info li.alt{
		background:#ccc;
		margin:0px -20px;
		padding:20px 20px 10px;
}


/* ABOUT US - PRESS RELEASE
=========================================================================================== */
div#container.aboutus-press-release div#middle-column{
	width:780px;
	padding-right:0px;
}

/*overwrite .shadow bottom margin*/
div#container.aboutus-press-release .shadow{
	margin-bottom:20px;
}
/*press release boxes on landing page (2 across)*/
ul.press-list{
	list-style:none;
	margin:0px;
	padding:0px;
}
	ul.press-list li{
		float:left;
		/*display:inline;CC IE6*/
		width:380px;
		margin-right:20px;
	}
		
		/*overwrite default box padding and width*/
		div#middle-column ul.press-list li .shadow .box.w380-10px{
			width:243px;
			min-height:220px;
			padding:10px 10px 10px 127px !important;
		}

	/*CC IE ALL
	div#container.aboutus-press-release ul.press-list li .shadow{
		width:380px;
		height:180px;
		margin-bottom:10px;
	}*/
		
		ul.press-list li h3{
			margin-bottom:0px;
		}
		ul.press-list li p{
			margin-top:0px;
		}
		
		ul.press-list li img{
			float:left;
			/*display:inline;CC IE6*/
			margin-left:-117px;
		}
	
		ul.press-list li.last{
			margin-right:0px;
		}

/* ABOUT US - JOBS DETAIL
=========================================================================================== */
/*div#container.aboutus-jobs-detail div#middle-column ul.job-spec*/
div#container div#middle-column ul.job-spec{
	list-style:none;
	margin:10px 0px;
	padding:0px;
}

/*div#container.aboutus-jobs-detail div#middle-column ul.job-spec li h3*/
div#container div#middle-column ul.job-spec li h3{
	position:relative;
	float:left;
	padding-right:5px;
	margin:0px;
}

/* ABOUT US - VENUE HIRE
=========================================================================================== */
div#container.aboutus-venue-hire div#middle-column{
	width:780px;
	padding-right:0px;
}

	div#container.aboutus-venue-hire div#middle-column div.venue-left{
		float:left;
		/*display:inline;CC IE6*/
		width:360px;
		margin-right:20px;
	}
	
	div#container.aboutus-venue-hire div#middle-column div.venue-left.end{
		margin-right:0px;
	}
	
	div#container.aboutus-venue-hire div#middle-column ul.tabs{
		height:50px !important;
		/*height:70px !important;CC IE6*/
		margin:0px !important;
		padding:0px !important;
	}
	
	div#container.aboutus-venue-hire div#middle-column ul.tabs li{
		height:50px !important;
		/*height:70px !important;CC IE6*/
		/*width:125px;CC IE6*/
		max-width:125px;
	}
	
	div#container.aboutus-venue-hire div#middle-column ul.panes li h2{
		padding-left:0px !important;
		margin:0px;
	}
	
	div#container.aboutus-venue-hire div#middle-column ul.tabs li a,
	div#container.aboutus-venue-hire div#middle-column ul.tabs li a:visited{
		/*width:125px;CC IE6*/
		padding:5px 10px;
		height:50px !important;
		/*height:70px !important;CC IE6*/
	}

/* GET INVOLVED - HOMEPAGE
=========================================================================================== */
div#container.getinvolved-homepage div#middle-column{
	width:780px;
	padding-right:0px;
}

div#container.getinvolved-homepage div#middle-column .shadow{
	margin-bottom:20px;
}

	div#container.getinvolved-homepage div#middle-column ul.information li{
		float:left;
		/*display:inline;CC IE6*/
		margin-right:20px;
	}
	
		div#container.getinvolved-homepage div#middle-column ul.information li.last{
			margin-right:0px;
		}

/* GET INVOLVED - SPONSORSHIP
=========================================================================================== */
div#container.getinvolved-sponsorship div#right-column ul.sponsors li{
	text-align:center;
}

div#container.getinvolved-sponsorship div#right-column ul.sponsors li img{
	margin:10px auto;
}

/* GET INVOLVED - MEMBERSHIP
=========================================================================================== */
div#container.getinvolved-membership div#middle-column ul.yellow-list{
	clear:left;
	margin:10px 0px;
}

div#container.getinvolved-membership div#middle-column ul.yellow-list li{
	border-top:none !important;
	padding-top:0px;
	padding-bottom:0px;
}

	div#container.getinvolved-membership div#middle-column a.button{
		float:right;
	}
	
/* GET INVOLVED - CONNECT WITH US
=========================================================================================== */

div#container.connect-with-us div#middle-column ul.border-list li a img{
    border-bottom: none !important;
}
	

/* SITEWIDE SEARCH
=========================================================================================== */
div#container.site-search div#middle-column{
	width:780px;
	padding-right:0px;
}

/*total results*/
p.total{
	float:none;
	clear:both;
	border-width:1px 0px;
	border-style:solid;
	border-color:#CCC;
	padding:8px 0px;
	margin:15px 0px;
}
	p.total span{
		float:right;
	}
	
	/*amount of results per page*/
	div.amount{
		float:left;
		width:250px;
		margin-top:10px;
	}

	/*amountAtoZ for A to Z dropdownlist only*/
	div.amountAtoZ{
		float:left;
		width:620px;
		margin-top:10px;
	}
	div.amountAtoZ ul li{		
		width:600px;		
	}

	
	div#container.site-search div#middle-column .generic fieldset{
		margin-bottom:0px;
	}
	
	div#container.site-search div#middle-column .generic label,
	div#container.site-search div#middle-column .generic select,
	div#container.site-search div#middle-column .generic input.submit-button{	
		float:left;
		/*display:inline;CC IE6*/
		margin-right:5px;
	}

div#container.site-search div#middle-column h2{
	font-size:100%;
}


/* FAMILIES - FLICKR PAGE
=========================================================================================== */
div#container.planavisit-families-flickr div#middle-column{
	width:480px;
	padding-right:0px;
}

/*overwrite .shadow bottom margin*/
div#container.planavisit-families-flickr .shadow{
	margin-bottom:2px;
}

div#container.planavisit-families-flickr div#right-column .shadow{
        margin-bottom:26px;
}

/*press release boxes on landing page (2 across)*/
ul.gallery-list{
	list-style:none;
	margin:0px;
	padding:0px;
}
	ul.gallery-list li{
		float:left;
		/*display:inline;CC IE6*/
		width:380px;
		margin-right:10px;				
	}
		
		/*overwrite default box padding and width*/
		div#middle-column ul.gallery-list li .shadow .box.w380-10px{
			width:360px;			
			min-height:81px;			
			padding:10px 10px 10px 127px !important;
		}

	/*CC IE ALL 
	div#container.families-flickr-page ul.gallery-list li .shadow{
		width:380px;
		height:180px;
		margin-bottom:20px;
	}*/
		
		ul.gallery-list li h3{
			margin-bottom:0px;
		}
		ul.gallery-list li p{
			margin-top:0px;
		}
		
		ul.gallery-list li img{
			float:left;
			/*display:inline;CC IE6*/
			margin-left:-117px;
		}
	
		ul.gallery-list li.last{
			margin-right:0px;
		}
		
/* TABS FOR EXHIBITION PAGES
=========================================================================================== */

#exhibitiontabs {
      float:left;
      width:780px;
      height: 54px;
      overflow: hidden;
      background: transparent url("/img/NMeM/exhibitionTabs/exhitabs.png") repeat-x left top;
      /*font-size:97%;*/
      line-height:normal;         
      margin-bottom: 20px;
      margin-left: -20px;		  
      }
    
#exhibitiontabs ul {
        margin:0;
        /*padding:0px 10px 0 0px;*/
	padding: 0;
        list-style:none;			  
      }

#exhibitiontabs li {
      display:inline;
      margin:0;
      padding:0;
	height: 54px;	  
      }

#exhibitiontabs a {
      float:left;
      margin:0;
      padding:0px;
      text-decoration:none;
      }
    
#exhibitiontabs a span {
      float:left;
      display:block;     	  
      padding:12px 18px 0 15px;
      color:#fff;
      height:42px;
      cursor: pointer;
      font-family: Arial,Helvetica,sans-serif !important; 
      }

    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #exhibitiontabs a span {float:none;}
    /* End IE5-Mac hack */

    #exhibitiontabs a:hover span {
      color:#FDB924;
      }
    #exhibitiontabs a:hover {
      background-position:0% -54px;
      }
    #exhibitiontabs a:hover span {
      /*background-position:100% -54px;*/
      }

#exhibitiontabs a:active, #exhibitiontabs a:focus {
    background-color: transparent;
}

    #exhibitiontabs #current a {
	background-position:0% -54px;
    }
    #exhibitiontabs #current a span {
	background:url("/img/NMeM/exhibitionTabs/exhitabs.png") no-repeat center -54px;
	color: #000;
	font-weight: bold;
    }

#exhi_feat {
	background:#000;
	float:left;
	margin-left: -20px;
	width: 780px;
	height: 260px; 
	overflow: hidden;	
}
#exhi_feat .exhi_hero {
	float: left; 
	width: 540px;
}
#exhi_feat .exhi_branding { 
	display: block; text-align: center;
}
ul#gallery-thumb-list li { margin-right: 1px; }


/* ARTICLES/FACTSHEETS PAGES
=========================================================================================== */
.CurriculumMain{width:500px;}
.CurriculumInfo{border: 1px solid gray; padding: 5px; background-color: White; width:500px; margin-left: 0px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.CurriculumInfo td{width: 200px; height: 180px; vertical-align: top; border: 1px solid black; padding: 20px; font-weight:bold;}
.CurriculumInfo th{background-color: #cccccc; text-align:center; padding:3px 0 2px 0;}
.CurriculumInfo td a{color: Black; text-decoration: none; margin-bottom:25px;}
.CurriculumInfo td a:hover, .CurriculumInfo td a.active{padding: 4px; font-weight: bold; background-color: #fab71e; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.workshops{overflow: hidden; margin-bottom: 15px;}
.workshops h2{font-size:145%;}
.workshops a{font-family: Arial, Helvetica, sans-serif !important; font-size: 145%; font-weight: bold;}
.workshops a img{background: white url('/img/nmem/layout/img_load.gif') center no-repeat; float:left; margin:0 20px 0 0; width:125px; height:85px;}
.workshops a:hover{color: #7ac143;}
input.submit-button-selected{display: block;color: #666;text-align: center !important;font-weight:bold;text-transform: none;
background: none; text-decoration:none; border: 0px;padding: 3px 5px !important;-moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px;}
div.AllArticlesOne{margin:10px 0 25px 0;}
div.AllArticlesTwo{margin-bottom:10px;}
div.AllArticlesThree{float: left; margin-right: 10px;padding: 3px 5px 3px 0px; color:#198ac5;font-weight: bold;}
div.AllArticlesFour{float: left;}
div.AllArticlesFive{float: left; padding: 3px 5px;}
div.FactSheetsOne{width: 200px; float: right;}
div.FactSheetsTwo{background-color: white; width: 85%; margin: 0px 0px 15px 15px;}
li.FactSheetsThree{font-size: 95%;padding-bottom: 0px;}
div.FactSheetsFour{margin-top:3px; float:left; padding-left:0.5em; background: url(/img/NMeM/layout/fwdarrow.png) no-repeat left; width:10px; height:10px;}
div.FactSheetsFive{overflow:hidden;}

/* VIDEOS AND PODCASTS PAGES
=========================================================================================== */
.SectionVideosPodcasts { margin-top:40px; }
.boxHighlighted { width:340px; height:275px; float: left; padding-left:20px; padding-right: 20px; }
.boxHighlightedInner { width: 100%; height: 191px; margin-bottom: 5px; }
.boxVideosPodcasts { width:230px; height:245px; float: left; padding-right: 23px; }
.boxVideosPodcastsInner { width: 100%; height: 129px; margin-bottom: 5px; }
.lastVideoPost { padding-left: 0px; padding-right: 0px; }

/* Buy A Print
================================================================================= */
.buyaprintinner { float:left; width:215px; text-align:center; padding-right: 13px; padding-left: 16px; padding-top: 2px; }            
.buyaprintinner p { margin-bottom: 2px; }
div.buyaprintinner img  {
    margin: 1.5em 0.5em 0em 0.5em; 
    border: 8px solid white; 
    -moz-box-shadow: 2px 2px 5px #C0C0C0;
    -webkit-box-shadow: 2px 2px 5px #C0C0C0;
    box-shadow: 2px 2px 5px #C0C0C0;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=140, Color='#C0C0C0')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=140, Color='#C0C0C0');
    }
.lastPrint { padding-right:0px; }

