/* ========================================================================================
NMM - PRINT MEDIA
Version:1.0
Author: L Kennedy-Murray
=========================================================================================== */

body{
	font-family:Verdana, Geneva, sans-serif;
	color:#000;
	background:#FFF;
	line-height:130%;
}

a{
	color:#198ac5;
	text-decoration:underline;
}

.hide,
.skip{
	display:none !important;
}
/*clear floated div elements - generally only works on DIV*/
.clear-float:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;
	float:none;	
    clear: both; 
    visibility:hidden;
}
	

	.clear-float{
		min-height:1%;
	}


/*clears anything leaving no gap*/
.clear{
	float:none;
	clear:both;
	height:0px;
	line-height:0px;
	font-size:0px;
}
/*clear anything leaving a gap*/
.clearheight{
	float:none;
	clear:both;
}

/*HEADER*/
div#topheader-container,
div#topheader{
	float:none;
	width:100%;
	margin:0px;
}

	div#topheader p{
		float:right;
		font-size:200%;
	}
	
	div.search{
		display:none !important;
	}
	
/*HEADER+NAV*/
div#header-container{
	float:none;
	width:100%;
	margin:0px;

}
	div#header img.logo{
		float:left;
		margin:0px 0px 10px;
	}
	
	/*remove nav*/
	div#header ul{
		display:none !important;
	}

/*remove left/right column*/
div#left-column,
div#right-column,
div#footer{
	display:none !important;
}

/*adjust main areas*/
div#container,
div#middle-column,
div#middle-column .shadow,
div#middle-column .box,
div#footer-links{
	float:none;
	width:100% !important;
	margin:0px;
	padding:0px;
}

	div#footer-links{
		margin-top:10px;
		border-top:1px solid #ccc;
	}

	div#footer-links ul{
		display:none !important;
	}

/*add some formatting*/
h1{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:290%;
	line-height:110%;
	font-weight:bold;
	color:#198ac5 !important;
	margin:0 0 10px 0;
}
	h1 img{
		display:none !important;
	}
	
h2{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:160%;
	color:#198ac5 !important;
	line-height:130%;
	margin:0px auto 5px;
	padding:0px;
}

h3{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:110%;
	line-height:130%;
	color:#000;
	margin:0px;
}

hr{
	border:none;
	background:#CCC;
	height:1px;
	padding:0px;
	margin:10px 0px 15px;
}

ul,
ol{
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
}
	ul li,
	ol li{
		float:none;
		width:100% !important;
		list-style:none;
	}

/* COLOURS FOR BOTTOM BORDERS FOR IMAGES and GOOGLE IFRAME
=========================================================================================== */
img{
	border:none;
}

img.orange,
iframe.orange{
	border-bottom:8px solid #f47b20 !important;
}

img.yellow,
iframe.yellow{
	border-bottom:8px solid #fdb924 !important;
}

img.green,
iframe.green{
	border-bottom:8px solid #7ac143 !important;
}

img.pink,
iframe.pink{
	border-bottom:8px solid #f16d9a !important;
}

img.blue,
iframe.blue{
	border-bottom:8px solid #009ddc !important;
}

img.purple,
iframe.purple{
	border-bottom:8px solid #233e99 !important;
}

img.burgandy,
iframe.burgandy{
	border-bottom:8px solid #b1005d !important;
}

/* HOMEPAGE
=========================================================================================== */
div.carousel{
	display:none !important;
}

/* GENERAL TURNING ON/OFF OF BITS
=========================================================================================== */
/*SHARE*/
#contentplaceholder_0_SharePanel{
	display:none !important;
}

.whatson-title span{
	display:none !important;
}

ul.border-list {
	margin:20px 0;
}
	ul.border-list li {
		border-top:1px solid #CCCCCC;
		padding:20px 0;
	}

ul.yellow-list li{
	list-style-type:circle;
}

.q-top {
	border-bottom:1px solid #CCCCCC;
	margin:20px 0;
	padding:5px 0 10px;
	text-align:right;
}

/* SIFR
=========================================================================================== */

/*remove SIFR*/
  .sIFR-flash {
    display    : none !important;
    height     : 0;
    width      : 0;
    position   : absolute;
    overflow   : hidden;
  }
/*show h1 text*/  
  .sIFR-alternate {
    visibility : visible !important;
    display    : block   !important;
    position   : static  !important;
    left       : auto    !important;
    top        : auto    !important;
    width      : auto    !important;
    height     : auto    !important;
  }
 
 /*hide a few extras*/
 ul.tabs{
 	display:none !important;
}