html * { margin:0; padding:0; }
body * { margin:0; padding:0; }
body {
   font-family:arial, helvetica, verdana, sans-serif;
   font-size:90%;
   color:#003;
   background-color:#fff;
}

a {
   color:#003;
   text-decoration:underline;
}

h1 {
   font-size:2.1em;
   font-weight:normal;
   padding:0.25em 0 0;
   font-family:palatino, times, 'Times New Roman', serif;
}
h2 {
   font-size:1.6em;
   font-weight:normal;
}
h3 {
   font-size:1.4em;
   padding-bottom:0.5em;
}
h4 {
   font-size:1.2em;
   font-weight:bold;
}

img {
   border:0;
}
ol, ul, li {
   font-size:1.0em;
   line-height:1.5em;
   padding-top:0.2em;
   padding-bottom:0.1em; 
}
p, a {
   font-size:1.1em;
   line-height:1.5em;
   padding:0 0 1em;
}
li p {
   padding-top:0.2em;
}
strong {
   font-weight:bold;
}
.spacetop,
#container #content .spacetop {margin-top:1em;}
.nospacebottom,
#container #content .nospacebottom {margin-bottom:0;padding-bottom:0;}

#content p .smalltext {font-size:90%;}
